{
  "rules": {
    // the linter test code has a lot of unused vars in the dummy code
    "no-unused-vars": "off",
    // allow console examples
    "no-console": "off",
    // 18.4 uses a non assigned radix as todo example
    "radix": "off"
  }
}
